{% extends "base.html" %}

{% block conteudo %}

<div classname="form">

    <h3>Cadastro de Usuário</h3>
    <p>Bem-vindo à nossa plataforma de cadastro de filmes, um espaço dedicado a amantes do cinema e compartilhamento de experiências! Aqui, você pode facilmente registrar suas opiniões sobre os filmes que assistiu e se conectar com outros cinéfilos.</p>
    <hr>    

    <!-- Campo de cadastro -->
    <div class="container col-md-6 shadow p-3 mb-5 bg-body rounded">
        <div class="row justify-content-center">
            <form action="/" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Nome:</label>
                    <input type="name" class="form-control" id="nome" placeholder="Digite seu nome" name="nome" required />
                </div>
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" name="email" required />
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Filme Assistido:</label>
                    <input type="text" class="form-control" id="filme" placeholder="Digite o nome do filme" name="filme" required />
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Nota:</label>
                    <input type="text" class="form-control" id="nota" placeholder="Digite a nota (0 a 10)" name="nota" required />
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Opinião sobre o filme:</label>
                    <textarea type="text" name="opiniao" required placeholder="Digite sua opinião" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}